* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.container {
}
.calc {
  width: 500px;
  height: 750px;
  color: white;
  background-color: black;
  border-radius: 50px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goruntu {
  height: 250px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 45px;
  height: 100px;
  width: 100px;
  transition: filter 0.3s;
}
.btn-Rakam {
  color: black;
  background: #a5a5a5;
}
.btn-opr {
  background: #f1a33c;
}
#calc-zero {
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 43px;
  width: 215px;
}
.btn:hover {
  opacity: 0.5;
}
